template(name='profile')  
  +with user
    .profile-left-side
      .panel.panel-default
        .panel-body
          .container-fluid
            .row.row-bottom              
              +userAvatar user=this size=200 class='profile-left-side-avatar'
            .row
              +editableField fieldUsername
              +editableField fieldName
              +editableField fieldEmail
      if isHomePage
        label.btn.btn-default(for='newPhoto') Upload photo
        .hide
            input#newPhoto(type='file', accept='image/*')
  .profile-right-side
    +board