template(name='userCard')
  .panel.panel-default
    .panel-body
      .pull-left
        .row 
          +userAvatar user=this size=80
        unless alreadySubscribe
          .row
            +subscribeUser user=this
      .user-card-info-block
        ul.fa-ul
          li
            if isFromGithub
              i.fa.fa-li.fa-github
            else if isFromGoogle
              i.fa.fa-li.fa-google
            else
              i.fa.fa-li
            b= getName
          li
            i.fa.fa-li @
            a(href="{{ pathFor route='users_show' data=urlData }}")= getUsername
          if getPublicEmail
            li
              i.fa.fa-li.fa-envelope
              = getPublicEmail