head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')

  link(rel='icon', size='16x16' href='/favicon.ico')

  title AXMOR.Meteor